*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
}

h2{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

label {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

input{
    width: 50%;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(500px);
    border-radius:50px;
    border: none;
    color: whitesmoke;
}

button{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 50px;
    border: 2px solid white;
    color: whitesmoke;
    background-color: black;
    box-shadow: 2px 2px 5px 3px grey;
    transition: .1s ease-in-out;
}

button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    transform: scale(1.08);
    border: 2px solid black;
}

button:active{
    transform: scale(1.03);
}

p{
    text-align: center;
}